.l-header, 
.front .view-segundo-informe .skin-default,
.l-main,
.l-footer{
  padding: 0 235px;
}
.front .views-slideshow-controls-bottom{
  padding: 0 235px;
  margin: 0 -235px;
}
.front .l-content .contextual-links-wrapper{
  right: 235px;
}
.front .view-segundo-informe .view-content{
  background: #d81d1f url(../images/red-flag-235.png) repeat-y right 0;
}
.front .view-segundo-informe .skin-default{
  background: url(../images/green-flag-235.png) repeat-y;
}