body{
  background: white url(../images/nayarit-ojo-dios.png) no-repeat center 20px;
  min-width: 960px;
}
body.toolbar{
  background-position: center 50px;
}
body.toolbar.toolbar-drawer{
  background-position: center 84px;
}
.l-page{
  background: url(../images/grecasrojas.png) no-repeat right top;
}
.l-header, 
.front .view-segundo-informe .skin-default,
.l-main,
.l-footer .l-region--footer{
  margin: 0 auto;
  width: 960px;
}
.front .l-main{
  width: 100%;
}
.front .views-slideshow-controls-bottom{
  /*padding: 0 235px;
  margin: 0 -235px;*/
}
.front .view-segundo-informe .view-content{
  /*background: white url(../images/flag-bg.png) repeat-y center 0;*/
  background: white;
}
.l-content{
  background: white url(../images/olas-wide.png) no-repeat bottom center !important;
  padding-bottom: 165px;
}