.l-branding{
  width: 186px;
  height: 63px;
  float: left;
}
#block-imageblock-1{
  float: right;
  width: 117px;
  height: 43px;
  margin-right: 20px;
}
#block-imageblock-1 .imageblock-image{
  width: 117px;
  height: 43px;
}
#block-imageblock-2{
  float: right;
  width: 143px;
  height: 43px;
  margin-right: 20px;
}
#block-imageblock-2 .imageblock-image{
  width: 143px;
  height: 43px;
}
#block-imageblock-3{
  float: right;
  width: 160px;
  height: 43px;
  margin-right: 40px;
}
#block-imageblock-3 .imageblock-image{
  width: 160px;
  height: 43px;
}