.l-header{
  padding-top: 40px;
  background: url(../images/cover-ojo.png) repeat-y;
  -webkit-box-shadow:  -12px -6px 48px 0px #ffffff;
  box-shadow:  -12px -6px 48px 0px #ffffff;
}
.l-region--header{
  margin-left: 206px;
}
.l-region--navigation{
  clear: both;
}