.l-page{
  background: white url(../images/nayarit-ojo-dios.png) no-repeat 20px 20px;
}
.l-header{
  background: url(../images/grecasrojas.png) no-repeat right top;
  padding-top: 40px;
}
.l-region--header{
  margin-left: 206px;
}
.l-region--navigation{
  clear: both;
}